@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1725274247669') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengdaixiaofei:before {
  content: "\e603";
}

.icon-dianhua:before {
  content: "\e612";
}

.icon-erweima:before {
  content: "\e614";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-xuexiao_xuexiaoxinxi:before {
  content: "\e661";
}

.icon-shenqingtuikuan:before {
  content: "\e6c8";
}

